body{
    margin: 0px;
    background-color: white;
}

.grid{
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 3px;
}

.photo{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.hoofdtext{
    flex-wrap: wrap;
    font-style: bold;
    font-size:x-large;
    text-align: center;
}

.text{
    flex-wrap: wrap;
    font-style: normal;
    font-size: medium;
    text-align: center;
}

.flexbox{
    background-color:#00E6DD;
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
}

.flexboxphoto{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
}

.gridskills{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.headerbutton{
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
}

.projectphoto{
    width: 450px;
    height: 450px;
}

.projecttext{
    flex-wrap: wrap;
    font-size: medium;
    text-align: left;
    padding: 30px;
}

.socialstext{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: medium;
    text-align: center;
}
html {
  scroll-behavior: smooth;
}