body{
    margin: 0px;
    background-color: #F0DBC5;
}

section, p {
  margin: 0;
  padding: 0;
}

.backgroundcolor{
    background-color: #F0DBC5;
}

.grid{
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr 15%;    
  padding: 20px;
  justify-items: center;
  grid-gap: 10px;
}

.photo{
    margin-top: 15px;   
    width: 30%;
    height: 30%;
}

.hoofdtext{
    text-decoration: none;
    padding-top: 90px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    font-style: bold;
    font-size:xx-large;
    text-align: center;
    margin-top: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text{
    width: 1fr;
    flex-wrap: wrap;
    font-style: normal;
    font-size: medium;
    text-align: center;
}

.flexbox{
    position: sticky;
    top: 0;
    height: 70px;
    background-color:#F0DBC5;
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
}

.flexboxphoto{
    background-image:url(Calm\ img.jfif);
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    align-items: center;
    text-align: center; 
}

.gridskills{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: -5px;
    height: 500px;
}

.headerbutton{
    color: inherit;
    text-decoration: none;
    font-size: x-large;
    margin-top: 1.36%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
    text-align: center;
    align-items: center;
}

.headerborder{
    display: inline-flex;
    justify-content: center; 
    align-items: center;    
    border-width: 3px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    padding: 10px 20px;
}

.projectphoto{
    width: 300px;
    height: 300px;
}

.projecttext{
    flex-wrap: wrap;
    font-size: medium;
    text-align: left;
    padding: 30px;
}

.socialstext{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: medium;
    text-align: center;
}

html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

.contactflex{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;        
    height: 400px;
    gap: 20px;  
}
.contactfoto{
    height: 100%;
    width: 50%;             
    border-radius: 8px;
}

.contactflex .text {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;  
    gap: 10px;               
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 10px;
  border: 3px solid #ffffff;    
  padding: 15px;             
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  background-color: white;  
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.3);
}

.skillstext{
    font-size: x-large;
}

#project{
    background-color: #F0DBC5;
    padding-bottom: 100px;
}

#skills{
    background-color: white;
    height: 1050px;
}

.phototext{
    text-align: center;
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.linestyle{
    height: 10px;
    width: 75%;
    background-color:#8e11c0;
    border: none;
    padding: 0;
    margin: 0;
}