body{
    margin: 0px;
    background-color: white;
}

.grid{
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.photo{
    width: 30%;
    height: 30%;
}

.hoofdtext{
    flex-wrap: wrap;
    font-style: bold;
    font-size:x-large;
    text-align: center;
}

.text{
    flex-wrap: wrap;
    font-style: normal;
    font-size: medium;
    text-align: left;
}

.flexbox{
    margin-top: 3%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 4%;
    column-gap: 30px;
    display: flex;
    flex-direction: row-reverse;
}

.flexboxphoto{
    display: flex;
    justify-content: center;
    width: 100%;
}

.gridskills{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}